@model Web1.DTO.IntroductoryPostDTO

@{
    ViewData["Title"] = "UpdatePost";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<form asp-action="UpdatePost" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="form-group mb-3">
        <label class="form-label">Tiêu đề</label>
        <input class="form-control" value="@Model.title" name="title"/>
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Mô tả</label>
        <input class="form-control" value="@Model.description" name="description"/>
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Nội dung</label>
        <textarea class="form-control" value="@Model.Content"  id="editor" name="Content">@Model.Content</textarea>
    </div>

    <div class="form-group mb-3">

        <label class="form-label">Ảnh mới(nêú muốn thay đổi)</label>
        <input type="file" class="form-control" name="ImageFile" />
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="~/images/@Model.Image" width="120" />
        }
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Ngày hết hạn</label>
        <input type="date" class="form-control" name="ExpireAt" value="@Model.ExpireAt.ToString("yyyy-MM-dd")" />

    </div>

    <div class="form-group mb-3">
        <label class="form-label">Thứ tự hiển thị</label>
        <input class="form-control" name="DisplayOrder" value="@Model.DisplayOrder" />
    </div>

    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
          .create(document.querySelector('#editor'))
          .catch(error => {
              console.error(error);
          });
    </script>
}
