@model Web1.Models.Introduce
<!-- Desktop: Hiển thị lớn -->
<div class="row d-none d-lg-flex" style="margin-Bottom:30px">


    <!-- Cột nội dung -->
    <div class="col-6 d-flex flex-column justify-content-center left-text-content">
        <div style="margin:0px 60px 0px 0px ">
            <div class="section-heading mb-3">
                <h1>@Model.title</h1>
            </div>
            <p class="mb-4" style="color:#808080">@Model.description</p>
            <button class="btn btn-danger text-white fw-bold px-5 py-2" style="width:160px; height:48px;margin-top:55px">
                @Model.TitleButton
            </button>
        </div>
    </div>
    <!-- Cột ảnh -->
    <div class="col-6 right-content">
        <div class="thumb text-center">
            <img src="~/images/@Model.Image"
                 class="img-fluid float-end"
                 style="border-radius:8px; max-height:440px;" />
        </div>
    </div>
</div>



<!-- Mobile & Tablet: Ipad Pro trở xuống -->
<div class="row d-none d-md-flex d-lg-none align-items-center">


    <!-- Cột nội dung -->
    <div class="col-6 d-flex flex-column justify-content-center left-text-content">
        <h2 class="fs-4 mb-2">@Model.title</h2>
        <p class="mb-3" style="color:#000000">@Model.description</p>
        <button class="btn btn-danger text-white fw-bold px-4 py-2" style="width:160px; height:48px;">
            @Model.TitleButton
        </button>
    </div>
    <!-- Cột ảnh -->
    <div class="col-6 right-content text-center">
        <div class="thumb">
            <img src="~/images/@Model.Image"
                 class="img-fluid"
                 style="border-radius:8px; max-height:404px;" />
        </div>
    </div>
</div>



<div class="d-block d-md-none d-flex flex-column align-items-center" style="margin-bottom:20px">
    <div class="mb-3">
        <!-- Thẻ div đầu tiên -->
        <img src="~/images/@Model.Image"
             style="width: 365px; height: 312px; border-radius: 8px;" />
    </div>

    <div>
        <!-- Thẻ div thứ hai -->
        <h3 class="fs-4 mb-2 text-center">@Model.title</h3>
        <p class="mb-3 text-center" style="color:#808080">@Model.description</p>
        <button class="btn btn-danger text-white fw-bold w-100" style="height:48px; max-width: 400px;">
            @Model.TitleButton
        </button>
    </div>
</div>

