@model Web1.Models.Introduce
<!-- Desktop: Hiển thị lớn -->
<div class="row d-none d-lg-flex">
    <!-- Cột ảnh -->
    <div class="col-6 right-content">
        <div class="thumb text-center">
            <img src="~/images/@Model.Image"
                 class="img-fluid"
                 style="border-radius:8px; max-height:480px;" />
        </div>
    </div>

    <!-- Cột nội dung -->
    <div class="col-6 d-flex flex-column justify-content-center left-text-content">
        <div class="section-heading mb-3">
            <h1>@Model.title</h1>
        </div>
        <p class="mb-4">@Model.description</p>
        <button class="btn btn-danger text-white fw-bold px-5 py-2" style="width:160px; height:48px;">
            @Model.TitleButton
        </button>
    </div>
</div>



<!-- Mobile & Tablet: Ipad Pro trở xuống -->
<div class="row d-none d-md-flex d-lg-none align-items-center">
    <!-- Cột ảnh -->
    <div class="col-6 right-content text-center">
        <div class="thumb">
            <img src="~/images/@Model.Image"
                 class="img-fluid"
                 style="border-radius:8px; max-height:404px;" />
        </div>
    </div>

    <!-- Cột nội dung -->
    <div class="col-6 d-flex flex-column justify-content-center left-text-content">
        <h1 class="fs-4 mb-2">@Model.title</h1>
        <p class="mb-3">@Model.description</p>
        <button class="btn btn-danger text-white fw-bold px-4 py-2" style="width:160px; height:48px;">
            @Model.TitleButton
        </button>
    </div>
</div>



<!-- Mobile : iPhone trở xuống -->
<div class="row d-block d-md-none">
    <div style="width:335px; height: 312px;">
        <div class="flex-column left-text-content mb-3">
            <h1 class="fs-4 mb-2">@Model.title</h1>
            <p class="mb-3">@Model.description</p>

            <button class="btn btn-danger text-white fw-bold w-100" style="height:48px">
                @Model.TitleButton
            </button>
        </div>

        <div class="right-content text-center">
            <img src="~/images/@Model.Image" width="335" height="312" style="border-radius:8px;" />
        </div>
    </div>
</div>

