@model Web1.Models.Introduce
<div class="col-lg-6 col-md-6 col-12 ">
    <div class="d-none d-lg-flex flex-column left-text-content" style="width:548px; height:480px;">
        <!-- Desktop: Hiển thị lớn -->
        <div class="d-none d-lg-block">
            <div class="section-heading mb-3">
                <h1>@Model.title</h1>
            </div>
            <p>@Model.description</p>
        </div>

        <!-- Mobile & Tablet: Ipad Pro trở xuống -->
        <div class="d-block d-lg-none" style="width: 336px; height: 200px;">
            <h1 class="fs-4 mb-2">@Model.title</h1>
            <p class="mb-3">@Model.description</p>
        </div>
    <button class="d-none d-md-flex btn btn-danger text-white  fw-bold px-5 py-2" style="width:160px;height:48px">
        @Model.TitleButton
    </button>
    <button class="d-block d-md-none btn btn-danger text-While  fw-bold " style="width:338px;height:48px">
        @Model.TitleButton
    </button>
</div>
<div class=" col-lg-6 col-md-6 col-12">
    <div class="right-content">
        <div class="d-none d-sm-flex thumb">
            <br />
            <img src="~/images/@Model.Image" width="504px" height="480px" radius ="8px"/>

        </div>
        <div class="d-block d-sm-none thumb">
            <br />
            <img src="~/images/@Model.Image" width="335px" height="312px" radius="8px" />

        </div>
    </div>
  
</div>

